---
import Layout from "../../../../layouts/Layout.astro";
import HeadlightSpecs from "../../../../components/HeadlightSpecs.astro";
import type { Product } from "../../../../types/headlights";

import { getI18N } from "../../../../i18n/";

const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });

const headlightsTexts = i18n.HEADLIGHTS.TEXTS;
const headlightsData = i18n.HEADLIGHTS.PRODUCTS;

const { headlight } = Astro.params;

const product = headlightsData
  .flatMap((headlightType: Product) => headlightType.products)
  .find((product) => product.slug === headlight);

if (!product) {
  throw new Error(`Product not found for slug: ${headlight}`);
}

const details = product.details;
console.log(details.features);
---

<Layout title={product.name} description="">
  <section
    class="w-screen py-12 flex flex-col lg:flex-row items-center justify-center gap-8 px-8 md:px-16 shadow-2xl bg-gradient-to-r from-teal-500 to-teal-700 text-white"
  >
    <div class="lg:w-1/2 flex flex-col gap-6 px-4 mx-auto">
      <h1
        class="text-4xl md:text-5xl font-bold leading-tight text-center lg:text-left"
      >
        {product.name}
      </h1>
      <p class="text-lg md:text-xl leading-relaxed text-center lg:text-left">
        {details.detailed_description}
      </p>
    </div>

    <div class="lg:w-1/3 flex justify-center items-center px-4">
      <figure class="w-full max-w-lg rounded-lg shadow-lg">
        <img
          class="w-full rounded"
          src={product.card_image}
          alt={product.name}
        />
      </figure>
    </div>
  </section>

  {
    details.intro ? (
      <section class="w-full mt-[100px] md:mt-0">
        <article class="flex flex-col px-12 text-center lg:flex-row lg:text-start gap-[100px] justify-between items-center">
          <div class="md:px-12 lg:px-0 flex flex-col gap-6">
            <p>{details.intro.intro_text_1}</p>
            <p>{details.intro.intro_text_2}</p>
            <p>{details.intro.intro_text_3}</p>
          </div>
          <img
            src={details.intro.intro_image}
            alt=""
            class="w-[500px] shadow-2xl"
            style="border-radius: 43% 57% 32% 68% / 61% 52% 48% 39%;"
          />
        </article>
      </section>
    ) : (
      <section class="w-full p-6 py-12 lg:p-12 bg-gray-100 rounded-lg">
        <h2 class="text-3xl font-bold mb-12">
          {headlightsTexts.text_features}
        </h2>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {details.features?.map((feature) => (
            <li class="bg-white p-6 rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl">
              <h3 class="text-xl font-semibold text-teal-600 mb-4">
                {feature.title}
              </h3>
              <p class="text-gray-700 leading-relaxed">{feature.description}</p>
            </li>
          ))}
        </ul>
      </section>
    )
  }

  <section
    class="w-full flex flex-col mt-[100px] md:mt-0 md:px-12 lg:flex-row gap-4"
  >
    <HeadlightSpecs texts={headlightsTexts} specs={details.specs} />
  </section>
</Layout>
