---
import { getLaunches, getLaunchBy } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";

export const prerender = false; // Modo server

const { id } = Astro.params;

/* if (!id) {
  return Astro.redirect("/"); Solo para el servidor
} */

let launch;
if (id) {
  launch = await getLaunchBy({ id });
}

export async function getStaticPaths() {
  const launches = await getLaunches();

  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
}
---

<Layout title={`Launch ${id}`}>
  <article class="text-black mt-[70px]">
    <img src={launch?.links?.patch.small} alt={launch?.name} />
    <h2>Launch #{launch?.id}</h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
