---
// Importar Layout e i18n
import Layout from '../layouts/Layout.astro'
import { getI18N } from '../i18n/'
const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.DOCUMENTATION.TITLE} description={i18n.DOCUMENTATION.DESCRIPTION}>
	<section class="mb-[100px] flex flex-col gap-4 px-6 md:mb-0 md:px-12">
		<h1 class="mb-4 text-3xl font-bold">{i18n.DOCUMENTATION.TITLE}</h1>
		<p class="mb-8 text-lg">{i18n.DOCUMENTATION.DESCRIPTION}</p>

		<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{
				i18n.DOCUMENTATION.SECTIONS.map((section) => (
					<div class="card rounded-lg border bg-white p-6 shadow-lg">
						<h2 class="mb-4 text-xl font-semibold">{section.name}</h2>
						<a href={section.href} target="_blank" class="text-blue-500 hover:underline">
							{i18n.DOCUMENTATION.TEXT_DOWNLOAD}
						</a>
					</div>
				))
			}
		</div>
	</section>
</Layout>
