---
import Layout from "../../../layouts/Layout.astro";
import { loupesData } from "../../../services/loupes-data";

// Esta función genera las rutas estáticas para cada producto
export async function getStaticPaths() {
  // Retorna las rutas que Astro debe generar estáticamente a partir de los slugs extraidos
  return loupesData.flatMap((loupeType) =>
    loupeType.products.map((product) => ({
      params: { loupe: product.slug },
    }))
  );
}

// Accede al parámetro de la ruta
const { loupe } = Astro.params;

// Encontrar el producto basado en el slug
const product = loupesData
  .flatMap((loupeType) => loupeType.products)
  .find((product) => product.slug === loupe);

if (!product) {
  throw new Error(`Product not found for slug: ${loupe}`);
}
---

<Layout title={product.name} description="">
  <!-- Title -->
  <section
    class="text-black mt-[60px] lg:mt-[64px] flex items-center justify-center"
  >
    <article>
      <h1 class="text-5xl">{product.name}</h1>
      <p>{product.description}</p>
    </article>
    <img class="w-1/2" src={product.cover_image} alt={product.name} />
  </section>
  <!-- Specs -->
  <section class="flex flex-col gap-[20px]">
    <h2 class="text-3xl">Especificaciones</h2>
    <article>
      <div class="flex flex-col gap-5 w-1/2">
        <p>
          Todos los sistemas ópticos emplean lentes de vidrio e incorporan
          revestimientos antirrayado y antirreflejos.
        </p>
        <p>
          La distancia de trabajo y el ángulo de declinación se adaptan a cada
          usuario.
        </p>
      </div>
    </article>
    {
      product.specs ? (
        <article class="flex gap-[100px]">
          {product.specs.map((spec) => (
            <div class="min-w-[230px]">
              <div>
                <h3 class="text-2xl">Potencia de aumento</h3>
                <p class="">{spec.magnification_power}</p>
              </div>
              <div>
                <h3 class="text-2xl">Peso</h3>
                <p>{spec.weight}</p>
              </div>
              <div>
                <h3 class="text-2xl">Ancho de campo</h3>
                <p>{spec.field_width}</p>
              </div>
              <div>
                <h3 class="text-2xl">Profundidad de campo</h3>
                <p>{spec.field_depth}</p>
              </div>
            </div>
          ))}
          <div class="min-w-[230px]">
            <h3 class="text-2xl">Opciones de montura</h3>
            <ul class="flex flex-col">
              {product.frame_options.map((option) => (
                <li>
                  <a
                    href={`/products/frames/${option.slug}`}
                    class=" hover:underline"
                  >
                    {option.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
          <div class="min-w-[230px]">
            <h3 class="text-2xl">Paquete de la lupa</h3>
            <div class="flex flex-col">
              {product.frame_options.map((option) => (
                <a href={`/products/frames/${option.slug}`}>{option.name}</a>
              ))}
            </div>
          </div>
        </article>
      ) : (
        <p>No hay especificaciones disponibles para este producto.</p>
      )
    }
  </section>
</Layout>
