---
import Layout from "../../../layouts/Layout.astro";
import { loupesData } from "../../../services/loupes-data";

// Esta función genera las rutas estáticas para cada producto
export async function getStaticPaths() {
  // Retorna las rutas que Astro debe generar estáticamente a partir de los slugs extraidos
  return loupesData.flatMap((loupeType) =>
    loupeType.products.map((product) => ({
      params: { loupe: product.slug },
    }))
  );
}

// Accede al parámetro de la ruta
const { loupe } = Astro.params;

// Encontrar el producto basado en el slug
const product = loupesData
  .flatMap((loupeType) => loupeType.products)
  .find((product) => product.slug === loupe);

if (!product) {
  throw new Error(`Product not found for slug: ${loupe}`);
}
---

<Layout title={product.name}>
  <section>
    <!-- Title -->
    <article
      class="text-black mt-[60px] lg:mt-[64px] flex items-center justify-center"
    >
      <div>
        <h1>{product.name}</h1>
        <p>{product.description}</p>
      </div>
      <img class="w-1/2" src={product.cover_image} alt={product.name} />
    </article>
    <!-- Specs -->
    <article>
      <h2>Especificaciones</h2>
      <p>
        Todos los sistemas ópticos emplean lentes de vidrio e incorporan
        revestimientos antirrayado y antirreflejos.
      </p>
      <p>
        La distancia de trabajo y el ángulo de declinación se adaptan a cada
        usuario.
      </p>
    </article>
  </section>
</Layout>
