---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });

interface Props {
  productType: "LOUPES" | "FRAMES" | "HEADLIGHTS";
}

const { productType } = Astro.props;

const products = i18n[productType]["PRODUCTS"];
const productsPath = i18n[productType]["PRODUCT_PATH"];
---

<section class="flex flex-col gap-[50px]">
  {
    products.map((type) => (
      <article class="flex py-12 flex-col gap-4">
        <header>
          <h2 class="text-center text-3xl mb-12 font-bold lg:text-start">
            {type.type}
          </h2>
        </header>
        <div class="flex flex-col lg:grid lg:grid-cols-3 gap-[50px]">
          {type.products.map((productData) => (
            <div class="flex flex-col gap-4">
              <a
                href={`${productsPath}${productData.slug}`}
                class="shadow-2xl relative rounded-md overflow-hidden flex flex-col h-full cursor-pointer transform transition-transform hover:shadow-lg hover:scale-105"
              >
                <div
                  class="bg-contain bg-no-repeat bg-center h-48 relative"
                  style={{ backgroundImage: `url(${productData.card_image})` }}
                >
                  <div class="absolute inset-0 bg-gray-400 opacity-10" />
                </div>
                <div class="p-4 flex-grow flex flex-col justify-between">
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-bold">{productData.name}</h3>
                    <div class="w-[10%] h-[2px] bg-[#076b61] rounded-lg" />
                    <p>{productData.description}</p>
                  </div>
                </div>
              </a>
            </div>
          ))}
        </div>
      </article>
    ))
  }
</section>
