---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });

const framesData = i18n.FRAMES.PRODUCTS;
---

<section class="flex flex-col gap-[50px]">
  {
    framesData.map((frames) => (
      <article class="flex flex-col gap-4">
        <h2 class="text-3xl font-semibold">{frames.type}</h2>
        <div class="grid grid-cols-3 gap-[50px]">
          {frames.products.map((productData) => (
            <a
              href={`/productos/monturas/${productData.slug}`}
              class="relative rounded-lg overflow-hidden flex flex-col cursor-pointer transform transition-transform hover:shadow-lg hover:scale-105"
            >
              <div
                class="bg-contain bg-no-repeat bg-center h-48 relative"
                style={{ backgroundImage: `url(${productData.card_image})` }}
              >
                <div class="absolute inset-0 bg-gray-700 opacity-10" />
              </div>
              <div class="bg-[#076b61] p-4 text-white flex-grow flex flex-col justify-between">
                <div class="flex flex-col gap-4">
                  <h3 class="text-lg font-semibold">{productData.name}</h3>
                  <div class="w-[10%] h-[2px] bg-white rounded-lg" />
                  <p>{productData.description}</p>
                </div>
              </div>
            </a>
          ))}
        </div>
      </article>
    ))
  }
</section>
