---
import { getI18N } from '../i18n/'
const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })

import { FeatureItem } from './feature-item'

const featuresData = i18n.HOME_PAGE.FEATURES

import { Sparkles, Award, HeartHandshake, Headset } from 'lucide'

const icons = [Sparkles, Award, HeartHandshake, Headset]
---

<section
	class="mb-[100px] mt-[200px] flex w-full flex-col items-center justify-center gap-[80px] px-12 text-center lg:h-[200px]"
>
	<div class="space-y-5">
		<h2 class="text-heading text-5xl font-semibold">{i18n.HOME_PAGE.TITLE}</h2>
		<p class="text-xl">{i18n.HOME_PAGE.SLOGAN}</p>
	</div>
	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4">
		{
			featuresData.map((feature, index) => (
				<FeatureItem
					title={feature.title}
					description={feature.description}
					iconIndex={index}
					color={feature.color}
				/>
			))
		}
	</div>
</section>
