---
import type { FramesTexts, Specs } from "../types/frames";

interface Props {
  specs: Specs;
  texts: FramesTexts;
}
const { specs, texts } = Astro.props;
---

<article class="flex flex-col gap-5">
  <h3 class="text-2xl font-bold">{texts.text_specs}</h3>
  <div class="flex flex-col flex-wrap max-h-[300px] gap-4">
    {
      specs?.materials && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_materials}</h4>
          <p set:html={specs.materials} />
        </div>
      )
    }

    {
      specs?.sizes && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_sizes}</h4>
          <p set:html={specs.sizes} />
        </div>
      )
    }

    {
      specs?.weight && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_weight}</h4>
          <p set:html={specs.weight} />
        </div>
      )
    }

    {
      specs?.light_intensity && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_light_intensity}</h4>
          <p set:html={specs.light_intensity} />
        </div>
      )
    }

    {
      specs?.color_rendering_index && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_color_rendering_index}</h4>
          <p set:html={specs.color_rendering_index} />
        </div>
      )
    }

    {
      specs?.color_temperature && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_color_temperature}</h4>
          <p set:html={specs.color_temperature} />
        </div>
      )
    }

    {
      specs?.est_charge_time && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_est_charge_time}</h4>
          <p set:html={specs.est_charge_time} />
        </div>
      )
    }

    {
      specs?.est_batery_life && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_est_battery_life}</h4>
          <p set:html={specs.est_batery_life} />
        </div>
      )
    }

    {
      specs?.included_batteries && (
        <div>
          <h4 class="text-lg font-bold">{texts.text_included_batteries}</h4>
          <p set:html={specs.included_batteries} />
        </div>
      )
    }
  </div>
</article>
