---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });

const frames = i18n.FRAMES;
---

<section class="flex flex-col gap-12">
  <h1 class="text-6xl" set:html={frames.TITLE} />
  <article class="flex flex-row gap-4">
    <div class="relative">
      <div class="w-[5px] h-full bg-[#076b61] rounded"></div>
    </div>
    <div class="flex flex-col gap-4">
      <p class="italic font-bold text-lg" set:html={frames.SUBTITLE} />
      <p class="text-lg" set:html={frames.DESCRIPTION_1} />
      <p class="text-lg" set:html={frames.DESCRIPTION_2} />
      <p class="text-lg" set:html={frames.DESCRIPTION_3} />
    </div>
  </article>
</section>