---
import type { Texts, Specs } from "../types/headlights";

interface Props {
  specs: Specs;
  texts: Texts;
}
const { specs, texts } = Astro.props;
---

<article class="shadow-2xl p-12 rounded-lg">
  <h2 class="text-3xl mb-12 font-bold">{texts.text_specs}</h2>
  <div class="flex flex-col flex-wrap md:max-h-[400px] gap-4">
    {
      specs?.weight && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">{texts.text_weight}</h3>
          <p set:html={specs.weight} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.light_intensity && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_light_intensity}
          </h3>
          <p set:html={specs.light_intensity} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.color_rendering_index && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_color_rendering_index}
          </h3>
          <p set:html={specs.color_rendering_index} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.intensity_control && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_intensity_control}
          </h3>
          <p set:html={specs.intensity_control} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.color_temperature && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_color_temperature}
          </h3>
          <p set:html={specs.color_temperature} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.focus && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">{texts.text_focus}</h3>
          <p set:html={specs.focus} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.est_charge_time && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_est_charge_time}
          </h3>
          <p set:html={specs.est_charge_time} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.est_battery_life && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_est_battery_life}
          </h3>
          <p set:html={specs.est_battery_life} class="text-gray-700" />
        </div>
      )
    }
    {
      specs?.battery_type && (
        <div class="border-b pb-2 mb-2">
          <h3 class="text-xl font-bold text-teal-600">
            {texts.text_battery_type}
          </h3>
          <p set:html={specs.battery_type} class="text-gray-700" />
        </div>
      )
    }
  </div>
</article>
