---
import CardLaunch from "./CardLaunch.astro";
import { getLaunches } from "../services/spacex";

const launches = await getLaunches();
---

<div class="grid gap-8 grid-cols-3 mx-32">
  {
    launches.map(
      ({ id, links, details, flight_number: flightNumber, success }) => (
        <CardLaunch
          id={id}
          img={links.patch.small}
          details={details}
          flightNumber={flightNumber}
          success={success}
        />
      )
    )
  }
</div>
