---
import type { Texts, Specs } from '../types/loupes'

interface Props {
	specs: Specs
	texts: Texts
}
const { specs, texts } = Astro.props
---

<article class="flex flex-col gap-4 p-12 shadow-2xl md:rounded-lg lg:w-1/2">
	{
		specs?.magnification_power && (
			<div class="mb-2 border-b pb-2">
				<h3 class="text-xl font-bold text-teal-600">{texts.text_magnification_power}</h3>
				<p set:html={specs.magnification_power} class="text-gray-700" />
			</div>
		)
	}
	{
		specs?.weight && (
			<div class="mb-2 border-b pb-2">
				<h3 class="text-xl font-bold text-teal-600">{texts.text_weight}</h3>
				<p set:html={specs.weight} class="text-gray-700" />
			</div>
		)
	}

	{
		specs?.weight && (
			<div class="mb-2 border-b pb-2">
				<h3 class="text-xl font-bold text-teal-600">{texts.text_weight}</h3>
				<p set:html={specs.weight} class="text-gray-700" />
			</div>
		)
	}
	{
		specs?.field_width && (
			<div class="mb-2 border-b pb-2">
				<h3 class="text-xl font-bold text-teal-600">{texts.text_field_width}</h3>
				<p set:html={specs.field_width} class="text-gray-700" />
			</div>
		)
	}
	{
		specs?.field_depth && (
			<div class="mb-2 border-b pb-2">
				<h3 class="text-xl font-bold text-teal-600">{texts.text_field_depth}</h3>
				<p set:html={specs.field_depth} class="text-gray-700" />
			</div>
		)
	}
</article>
