---
import { getI18N } from '../i18n/'
const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })

interface Props {
	productType: 'LOUPES' | 'FRAMES' | 'HEADLIGHTS'
}

const { productType } = Astro.props

const product = i18n[`${productType}_PAGE`]
---

<section class="flex flex-col gap-12 px-6 md:px-12">
	<h1 class="text-center text-6xl font-semibold lg:text-start" set:html={product.TITLE} />
	<article class="flex flex-row gap-4">
		<div class="relative hidden lg:block">
			<div class="h-full w-[5px] rounded bg-[#076b61]"></div>
		</div>
		<div class="flex flex-col gap-12 text-center lg:gap-4 lg:text-start">
			<p class="text-lg font-bold italic" set:html={product.SUBTITLE} />
			<p class="text-lg" set:html={product.DESCRIPTION_1} />
			<p class="text-lg" set:html={product.DESCRIPTION_2} />
			<p class="text-lg" set:html={product.DESCRIPTION_3} />
		</div>
	</article>
</section>
