---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

// Importamos los componentes necesarios
import Footer from "../components/Footer.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Header from "../components/header";

// Obtenemos el i18n
import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale }); // Obtenemos el objeto de idioma basado en la configuración actual
---

<!doctype html>
<html lang={currentLocale}> <!-- Usamos el idioma actual -->
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #fff;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      ::-webkit-scrollbar {
        width: 5px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #6b7280;
        border-radius: 0.25rem;
      }
    </style>
  </head>
  <body class="font-sans min-h-screen flex flex-col">
    <!-- Pasamos `i18n` como prop al componente `Header` -->
    <Header i18n={i18n} client:visible />

    <!-- Estructura del contenido -->
    <main
      class="flex-grow max-w-[1200px] mx-auto flex flex-col items-center gap-[100px] mb-[100px] mt-[60px] lg:mt-[64px]"
    >
      <slot />
    </main>
    
    <!-- Footer -->
    <Footer />
  </body>
</html>
