---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import Footer from "../components/Footer.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Header from "../components/header";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #fff;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #6b7280;
        border-radius: 0.25rem;
      }
    </style>
  </head>
  <body class="font-sans min-h-screen flex flex-col overflow-x-hidden">
    <Header i18n={i18n} client:visible />
    <main
      class="max-w-[1200px] lg:mx-auto flex flex-col flex-grow items-center md:gap-[100px] md:mb-[100px] mt-[60px] lg:mt-[64px] lg:text-[18px]"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
