---
interface Props {
	title: string
	description: string
	isHome?: boolean
}

const { title, description, isHome = false } = Astro.props

import Footer from '../components/Footer.astro'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import Header from '../components/header'

import { getI18N } from '../i18n'

const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			html {
				font-family: system-ui, sans-serif;
				background: #fff;
				background-size: 224px;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
			::-webkit-scrollbar {
				width: 5px;
				height: 5px;
			}
			::-webkit-scrollbar-track {
				background: transparent;
			}
			::-webkit-scrollbar-thumb {
				background-color: #6b7280;
				border-radius: 0.25rem;
			}
		</style>
	</head>
	<body class="flex min-h-screen flex-col overflow-x-hidden font-sans">
		<Header i18n={i18n} isHome={isHome} client:load />
		<main
			class=`${!isHome ? 'mt-[60px]' : ""} flex min-h-[calc(100vh-60px)] max-w-[1440px] space-y-28 flex-grow flex-col items-center md:mb-[100px] md:min-h-[calc(100vh-64px)] md:gap-[100px] lg:mx-auto lg:text-[18px]`
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>
