---
import Layout from "../../../layouts/Layout.astro";
import type { Frames } from "../../../types/frames";
import FrameColors from "../../../components/frameColors";
import { getI18N } from "../../../i18n/";

const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
const framesData = i18n.FRAMES.PRODUCTS;

const { montura } = Astro.params;

const product = framesData
  .flatMap((frameType: Frames) => frameType.products)
  .find((product) => product.slug === montura);


if (!product) {
  throw new Error(`Product not found for slug: ${montura}`);
}
---

<Layout title={product.name} description="">
  {
    product.details.map((detail) => (
      <section
      class="text-black mt-[60px] lg:mt-[64px] flex items-center justify-center gap-8"
      >
        <article class="lg:w-1/2">
          <h1 class="text-5xl">{product.name}</h1>
          <p class="text-lg">{detail.detailed_description}</p>
        </article>
        <figure class="lg:w-1/2 flex justify-center items-center">
          <img class="w-full" src={product.card_image} alt={product.name} />
        </figure>
      </section>
      
      <section class="flex flex-col gap-[100px]">
        <article class="flex flex-col gap-5 lg:w-1/2">
          {detail.intro_text_1 && <p>{detail.intro_text_1}</p>}
          {detail.intro_text_2 && <p>{detail.intro_text_2}</p>}
          {detail.intro_text_3 && <p>{detail.intro_text_3}</p>}
        </article>
        <FrameColors client:visible frame={product.name} colors={detail.colors} />
        
      </section>
    ))
  }
</Layout>